---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Latest Posts</h2>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>
    More posts can be found in <a href="{{ '/posts/' | url }}">the
    archive</a>.
</p>
