<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description"
          content="{{ renderData.description or description or metadata.description }}">
    <link rel="icon" href="/img/icons/192.png" type="image/png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/util.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container">
        <header class="flex-row header padded">
            <div class="flex-1 flex-column">
                <h1 class="h1"><a href="/">{{ metadata.title }}</a></h1>
                <p class="subtitle flex-1"> {{ metadata.description }}</p>
            </div>
        </header>
        <nav class="nav">
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <ul class="flex-right flex-row">
                {%- for entry in collections.all | eleventyNavigation %}
                    <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %} padded">
                        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
        <main class="padded">               
            {{ content | safe }}
        </main>
        
        <footer></footer>
        
        <!-- Current page: {{ page.url | url }} -->
    </div>
  </body>
</html>
